[submodule "thirdparty/device-detector"]
	path = thirdparty/device-detector
	url = https://github.com/matomo-org/device-detector.git
[submodule "thirdparty/spyc"]
	path = thirdparty/spyc
	url = https://github.com/mustangostang/spyc.git
