#page-local-faultreporting-faultreport {
    .faultreport-description {
        a {
            font-weight: 300;
            text-decoration: underline;
        }

        p {
            margin-bottom: 0.25em;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    &:not(.theme-snap) {
        .help-text {
            margin-left: calc(25% + 7px);
        }
    }

    &.theme-snap {
        .help-text {
            /* Hide icon as it looks out of place with Snap alerts */
            >i.icon {
                display: none;
            }
        }
    }
}

#page-local-faultreporting-faultreports {
    &.theme-snap {
        hr {
            margin: 0.5em 0;
        }

        :is(li.list-group-item, h5, h6) {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
        }

        li.list-group-item {
            font-weight: 300;
            padding: 0.75rem;
        }

        .badge {
            border-radius: 0.25rem;
        }
    }
}